
.wrap{
  background: #FAFAFA;
}

header{
  height: 70px;
  background: #000001;
  position: relative;
  /*margin-bottom: 0px;*/
}

.title{
  color: white;
  height: 50px;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  /*font-size: 30px;*/
  /*font-variant: small-caps;*/
  position: relative;
}

.nav_list{
  margin-top: 30px;
}

nav li{
  display: inline;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 15px;
}

nav li a{
  color: #e3e3e3;
  text-decoration: none;
}

nav li a:hover{
  color: white;
  text-shadow: 1px 2px 7px white;
  /*text-decoration: underline;*/
}
.primary_1 h4, h3{
  text-align: center;
}
'
.title_hero h3{
  margin-bottom: 10px;
}

#model_1{
  color:#81BEF7;
  margin-right: 0;
}

#model_2{
  color:#A9F5BC;
  margin-left: 0;
  margin-right: 0;
}

#model_3{
  color:#F3F781;
  margin-left: 0;
  margin-right: 0;
}

#model_4{
  color:#F79F81;
  margin-left: 0;
  margin-right: 0;
}

#model_5{
  color:#F781D8;
}

.primary_2{
  background: #e3e3e3;
  margin-top: 0px;
}

.logo{
  height: 70px;
  width: 40px;
  float: left;
  margin-left: 10px;
}
.service_pic{
  height: 150px;
  width: 270px;
  margin-bottom: 10px;
}

.service_title{
  text-align: center;
  margin-top: 10px;
  width:960px;
  font-family: 'Didact Gothic', sans-serif;
}

.service_text{
  font-family: 'Didact Gothic', sans-serif;
}

.main{
  margin: 30px 0;
  padding: 0;
}

section{
  box-sizing: border-box;
  padding: 15px;
}

.view{
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}

.hero_element{
  height: 550px;
  width: 960px;
  float: left;
  margin: 20px 0px 10px 0px;
  padding-left: 0;
  background: url(../images/hero_1.jpg) no-repeat;
  align-items: center;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

.hero_element_text{
  width:960px;
  height: 280px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  margin-left: 0;
  background: #FFF;
  opacity: 0;
}
.hero_element:hover .hero_element_text{
  opacity: .6;
  text-align: justify;
  color: #424242;
  font-size: 50px;
  font-weight: 300;
  font-family: 'Didact Gothic', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 270px;
  padding-bottom:0;;
}


.title_hero{
  text-align: center;
  line-height: 10px;
  padding-left: 0;
  padding-top: 80px;
  margin-bottom: 10px;
}

.title_hero h2{
  font-size: 70px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 80px;
  font-variant: small-caps;
  font-family:'Fredericka the Great', cursive;
}

.title_hero h3{
  padding-top: 135px;
  font-family: 'Questrial', sans-serif;
}

/*Animation Css Hover*/
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/*End of Animation Css Hover*/
.primary_3{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #A4A4A4;
}

.primary_4{
  margin-top: 20px;
  margin-bottom: 30px;
}
.left_insight{
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
#left_insight_learn a{
  color: #01DFA5;
  text-decoration: none;
}

#right_insight_learn a{
  color: #01DFA5;
  text-decoration: none;
}

#left_insight_learn a:hover{
  color: #01DFA5;
  text-decoration: underline;
}

#right_insight_learn a:hover{
  color: #01DFA5;
  text-decoration: underline;
}
.left_insight_img{
  float: left;
  width: 380px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 5px;
  height: 27x0px;
  box-shadow: 5px 5px 5px grey;
}

.left_insight_text{
  float:left;
  padding-bottom: 0;
  margin-left: 0;
}

.left_insight_paragraph{
  float: left;
  padding-top: 0;
}

#left_insight_text_title{
  color: #0B615E;
  font-size: 35px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  text-shadow: 1px 2px 2px #A9E2F3;
}

#performance{
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  width: 540px;
}
.right_insight{
  float: left;
  padding-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.right_insight_text{
  float: left;
  margin-left: 0;
  padding: 0;
}

.right_insight_paragraph{
  float: left;
  margin-left: 0;
  padding: 0;
}
.right_insight_img{
  width: 380px;
  margin-top: 10px;
  padding-left: 0;
  box-shadow: 5px 5px 5px grey;
}

#strategy{
  width: 540px;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  margin-left: 0;
}

#right_insight_text_title{
  color: #0B615E;
  font-size: 35px;
  font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-shadow: 1px 2px 2px #A9E2F3;
}
.primary_5{
  background: #424242;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 960px;
}

.primary_6{
  background: #01DFA5;
  margin-bottom: 10px;
  position: absolute;
}
.newsletters_text{
  margin: 0;
  float: left;
}

.newsletters_input{
  margin: 0;
  float: left;
}

.footer{
  margin-top: 20px;
}

.footer_about{
  float: left;
  margin-left: 0;
}

.footer_tweets{
  float: left;
  margin-right: 20px;
  /*border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;*/
}

#tweets{
  color: #A4A4A4;
  font-family:'Muli', sans-serif;
  line-height: 18px
}

#date{
  color: #F2F2F2;
  font-family:'Muli', sans-serif;
  line-height: 18px;
}

/*.separator{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
}*/
.footer_blogroll{
  float: left;
  margin: 0;
}

.footer_contact{
  float: left;
  margin: 0;
}

.footer_text{
  color: #A4A4A4;
  font-family: 'Muli', sans-serif;
  line-height: 18px
}

.footer_text a{
  font-size: 15px;
  font-variant: small-caps;
  font-family: sans-serif;
  text-decoration: none;
  color: #F2F2F2;
}

.footer_text a:hover{
  text-decoration: underline;
}

.footer li{
  color: #A4A4A4;
  font-family: 'Muli', sans-serif;
}

.footer_title{
  color: white;
  font-variant: small-caps;
  font-family: sans-serif;
  letter-spacing: 1px;
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.base{
  background: #2E2E2E;
}

.primary_7{
  height: 20px;
}

.copyrights{
  color: #F2F2F2;
  font-size: 10px;
  margin-top: 0;
  padding: 0;
}

.copyrights a{
  color: #F2F2F2;
  text-decoration: none;
}

.copyrights a:hover{
  text-decoration: underline;
}

.sociallinks{
  float: right;
  padding-left:0;
  height: 60px;
}

.sociallinks_icons li{
  display: inline;
  margin-left: 0;
  margin-right: 5px;
}

.sociallinks_icons_img:hover{
  -webkit-filter: sepia(100%);
	filter: sepia(100%);
}

.sociallinks_icons_img{
  border-radius: 100px;
  -webkit-filter: sepia(0);
   filter: sepia(0);
  -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
  height: 40px;
  width: 40px;
}

.query{
  color: #F2F2F2;
  float: left;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  font-size: 10px;
  height: 20px;
}

.img_line_1{
  width: 270px;
  height: 200px;
  float: left;
  padding-top: 0;
  /*-webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;*/
}

.img_line_1:hover{
  opacity: 1;
  	-webkit-animation: flash 1.5s;
  	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


.img_line_2{
  margin-left: 10px;
  width: 270px;
  height: 200px;
  float: left;
}

.img_line_2:hover{
  opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

.img_line_3{
  width: 270px;
  height: 200px;
  float: left;
}

.img_line_3:hover{
  opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
.portfolio_images{
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.portfolio_images h5{
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

#portfolio_text{
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}
.portfolio_title h2, h3{
  text-align: center;
  font-family: 'Muli', sans-serif;
  padding-bottom: 0;
  }

.portfolio_title{
  margin: 0;
  padding: 0px 10px;
}

.portfolio_title h2{
  font-size: 70px;
  font-variant: small-caps;
  font-family:'Fredericka the Great', cursive;
  margin-bottom: 0;
}

.portfolio_title h3{
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio_impress{
  box-sizing: border-box;
  background: #585858;
  position: relative;
  background: white;

}

.impress_text{
  /*box-sizing: content-box;*/
  text-align: center;
  color: #58ACFA;
  font-size: 30px;
  font-family: 'Palanquin', sans-serif;
}
/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/*
.impress_pic{
  float: left;
}*/
